on: [push, pull_request]
name: Unit Testing
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.21"

    env:
      GO111MODULE: "on"

    steps:
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/checkout@v4

      - name: Setup environment
        run: |
          # Changing into a different directory to avoid polluting go.sum with "go get"
          cd "$(mktemp -d)"
          go mod init unit_tests

          go install golang.org/x/tools/cmd/goimports@latest

      - name: Run go vet
        run: |
          go vet ./...

      - name: Run unit tests
        run: |
          go test -v ./...

      - name: Check for formatting
        run:
          ./script/format
